*~
-
var/
network-security.data
image-dired/
eshell/history
eshell/lastdir
url/
\#*
*.eld
auto-save-list/
*.elc
eshell/lastdir
eshell/history
all-my-config.el
session.*
*.cache
magithub
recentf
server/
.python-environments
tramp